<div class="header-container left">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" class="navigation">
      <i class="nb-menu"></i>
    </a>
    <div class="logo" (click)="goToHome()">
      <img style="width: 80px" src="..\..\..\..\assets\my-imgs\logo.jpg"/>
      31-<span>Bay</span>
    </div>
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>
</div>

<nb-actions size="medium" class="header-container right">
  <nb-action>
    <nb-user [nbContextMenu]="userMenu" [name]="user?.username"></nb-user>
  </nb-action>
</nb-actions>